nav {
  position: absolute;
  top: 50px;
  right: 300px;
}

nav a{
  color: #FFF;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.64);
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
}

nav a:visited{
  color: #FFF;
}
