a {
    color: darkOrange;
    text-decoration: none;
    font-size: 30px;
}
a:hover {
  color: blue;
  text-decoration: overline;
  font-size: 50px;
  
}
a:visited {
  color: green;
}
  body{
    background-color:YellowGreen;
    color: #DCEDC8;
    font-family: Futura, trebuchet;
    background-image: url(http://41.media.tumblr.com/a4e8abfbb1a0be769bc06aa2a61eeff7/tumblr_nsoart1B4L1qfirfao1_1280.jpg);
    background-size:cover;
    margin:0;
    
  }
  /*CHANGE THE COLOR OF YOUR h1 CSS*/
  h1 {
    color:#212121;
    font-family: Pacifico;
    font-size: 100px;
  text-shadow: -3px 0 red, 3px 0 cyan;
0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px orange; 
    }
    
    img {
      opacity: 0.3; 
  }
nav {
  position: center;
  top: 50px;
  right: 300px;
}

nav a{
  color: none;
  text-decoration: none;
  margin: 10px;
}

nav a:visited{
  color: none;
}

section {
    background-color: red;
    height:250px;
    width:100%;
    
}

