a {
color: darkOrange;
text-decoration: none;
font-size: 8px;
}
a:hover {
color: white;
text-decoration: none;
font-size: 10px;
}
a:visited {
color: green;
}
body{
background-color:YellowGreen;
color: #DCEDC8;
font-family: Futura, trebuchet;
background-image: url(http://41.media.tumblr.com/a4e8abfbb1a0be769bc06aa2a61eeff7/tumblr_nsoart1B4L1qfirfao1_1280.jpg);
background-size:cover;
margin:0;
}
/*CHANGE THE COLOR OF YOUR h1 CSS*/
h1 {
color:#212121;
font-family: Pacifico;
font-size: 100px;
text-shadow: -3px 0 red, 3px 0 cyan;
0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px orange;
}
img {
opacity: 0.3;
}
nav {
position: center;
top: 50px;
right: 300px;
}
nav a{
color: none;
text-decoration: none;
margin: 10px;
}
nav a:visited{
color: none;
}
section {
background-image:
background: -webkit-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* Chrome 10+, Saf5.1+ */
background: -moz-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* FF3.6+ */
background: -ms-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* IE10 */
background: -o-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* Opera 11.10+ */
background: linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* W3C */
;
background-color: red;
height: 250px;
width: 100%;
}
section a{
color: #FFF;
border: 1px solid #fff;
padding: 20px;
text-decoration: none;
text-transform: uppercase;
border-radius: 3px;
}
section {
position: relative;
}
section a {
width: 300px;
height: 25px;
padding: 20px;
position: absolute;
top: 50%;
left: 50%;
margin: -32px 0 0 -170px;
}
div {
height: 350px;
}
video{
width: 100%;
}

